# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Folder metadata
.DS_Store

# dotenv
*.env

# Virtual Environment
.venv/

# Config Outputs
preconfig_outputs/

# Silver Peak Python SDK
silverpeak_python_sdk/

# Logging
logging/
*.log
