applianceInfo:
  hostname: {{ data['hostname'] }}
  group: {{ data['group'] | default("",false)}}
  site: {{ data['site'] }}
  networkRole: {{ data['networkRole'] | default("non-hub",true)}}
  region: {{ data['region'] | default("",false) }}
  location:
    address: {{ data['address'] | default("",false) }}
    address2: {{ data['address2'] | default("",false) }}
    city: {{ data['city'] | default("",false)  }}
    state: {{ data['state'] | default("",false)  }}
    zipCode: {{ data['zipCode'] | default("",false)  }}
    country: {{ data['country'] | default("",false)  }}
  contact:
    name: {{ data['name'] | default("",false) }}
    email: {{ data['email'] | default("",false) }}
    phoneNumber: "{{ data['phoneNumber'] | default("",false) }}"

{% if data['templateGroups'] is defined and data['templateGroups'] != "" %}
templateGroups:
  groups:
    {%+ for group in data['templateGroups'] -%}
        - {{ group }}
    {%+ endfor -%}
{% endif %}


{% if data['businessIntentOverlays'] is defined and data['businessIntentOverlays'] != "" %}
businessIntentOverlays:
    overlays:
    {%+ for bio in data['businessIntentOverlays'] -%}
        - {{ bio }}
    {%+ endfor -%}
{% endif %}

deploymentInfo:
  deploymentMode: {{ data['deploymentMode'] | default("inline-router",true) }}
  totalOutboundBandwidth: {{ data['totalOutboundBandwidth'] | default("10000",true) }}
  totalInboundBandwidth: {{ data['totalInboundBandwidth'] | default("10000",true) }}
  shapeInboundTraffic: {{ data['shapeInboundTraffic'] | default("true",true) }}
  passThroughShapedTraffic:
    outboundMaxBandwidth: {{ data['outboundMaxBandwidth'] | default("10000",true) }}

  deploymentInterfaces:
{%+ if data['lan_interface_1_name'] is defined and data['lan_interface_1_name'] != "" %}
    - interfaceName: {{ data['lan_interface_1_name'] }}
      interfaceType: lan
      interfaceComment: {{ data['lan_interface_1_desc'] | default("",false) }}
      ipAddressMask: {{ data['lan_interface_1_ipmask'] }}
      nextHop: {{ data['lan_interface_1_nexthop'] | default("",false) }}
      segment: {{ data['lan_interface_1_segment'] | default("",false) }}
      zone: {{ data['lan_interface_1_zone'] | default("",false) }}
{%+ endif %}

{%+ if data['lan_interface_2_name'] is defined and data['lan_interface_2_name'] != "" %}
    - interfaceName: {{ data['lan_interface_2_name'] }}
      interfaceType: lan
      interfaceComment: {{ data['lan_interface_2_desc'] | default("",false) }}
      ipAddressMask: {{ data['lan_interface_2_ipmask'] }}
      nextHop: {{ data['lan_interface_2_nexthop'] | default("",false) }}
      segment: {{ data['lan_interface_2_segment'] | default("",false) }}
      zone: {{ data['lan_interface_2_zone'] | default("",false) }}
{%+ endif %}

{%+ if data['lan_interface_3_name'] is defined and data['lan_interface_3_name'] != "" %}
    - interfaceName: {{ data['lan_interface_3_name'] }}
      interfaceType: lan
      interfaceComment: {{ data['lan_interface_3_desc'] | default("",false) }}
      ipAddressMask: {{ data['lan_interface_3_ipmask'] }}
      nextHop: {{ data['lan_interface_3_nexthop'] | default("",false) }}
      segment: {{ data['lan_interface_3_segment'] | default("",false) }}
      zone: {{ data['lan_interface_3_zone'] | default("",false) }}
{%+ endif %}


{%+ if data['wan_interface_1_name'] is defined and data['wan_interface_1_name'] != "" %}
    - interfaceName: {{ data['wan_interface_1_name'] }}
      interfaceType: wan
      interfaceComment: {{ data['wan_interface_1_desc'] | default("",false) }}
      interfaceLabel: {{ data['wan_interface_1_label'] | default("",false) }}
      outboundMaxBandwidth: {{ data['wan_interface_1_max_outbound_bw'] | default("10000",false) }}
      inboundMaxBandwidth: {{ data['wan_interface_1_max_inbound_bw'] | default("10000",false) }}
      ipAddressMask: {{ data['wan_interface_1_ipmask'] | default("",false) }}
      {%+ if data['wan_interface_1_ipmask'] != "" -%}
      nextHop: {{ data['wan_interface_1_nexthop'] }}
      {%+ else -%}
      nextHop:
      {%+ endif -%}
      firewallMode: {{ data['wan_interface_1_firewall_mode'] | default("all",true) }}
      behindNat: {{ data['wan_interface_1_behind_nat'] | default("none",true) }}
      zone: {{ data['wan_interface_1_zone'] | default("",false) }}
{%+ endif -%}


{%+ if data['configure_dhcp'] == 'TRUE' %}

  dhcpInfo:

  {%+ if data['dhcp_interface_1'] is defined and data['dhcp_interface_1'] != "" %}

    - dhcpInterfaceName: {{ data['dhcp_interface_1'] }}
      dhcpType: {{ data['dhcp_interface_1_type'] }}
      {%- if data['dhcp_interface_1_type'] == "relay" %}
      dhcpProxyServers:
        - {{ data['dhcp_relay_server_1'] }}
        - {{ data['dhcp_relay_server_2'] }}
      enableOptions82: true
      options82Policy: forward
      {%- elif data['dhcp_interface_1_type'] == "server" %}
      dhcpAddressMask: {{  data['dhcp_interface_1_network'] }}
      startIpAddress: {{  data['dhcp_interface_1_srv_start_address'] }}
      endIpAddress: {{  data['dhcp_interface_1_srv_end_address'] }}
      gatewayIpAddress: {{  data['dhcp_interface_1_srv_gateway'] }}
      dnsServers:
        - {{ data['dhcp_interface_1_srv_dns1'] }}
        - {{ data['dhcp_interface_1_srv_dns2'] }}
      ntpServers:
        - {{ data['dhcp_interface_1_srv_ntp'] }}
      maximumLease: {{  data['dhcp_max_lease']  }}
      defaultLease: {{  data['dhcp_default_lease']  }}
      options:
      {%- if data['dhcp_interface_1_srv_opt1'] is defined and data['dhcp_interface_1_srv_opt1'] != "" %}
        - option: {{  data['dhcp_interface_1_srv_opt1'] }}
          value:  {{  data['dhcp_interface_1_srv_opt1value']  }}
      {%+ endif -%}
      {%- if data['dhcp_interface_1_srv_opt2'] is defined and data['dhcp_interface_1_srv_opt2'] != "" %}
        - option: {{  data['dhcp_interface_1_srv_opt2'] }}
          value:  {{  data['dhcp_interface_1_srv_opt2value']  }}
      {%+ endif -%}
      {%+ endif -%}

  {% endif %}

  {%+ if data['dhcp_interface_2'] is defined and data['dhcp_interface_2'] != "" %}

    - dhcpInterfaceName: {{ data['dhcp_interface_2'] }}
      dhcpType: {{ data['dhcp_interface_2_type'] }}
      {%- if data['dhcp_interface_2_type'] == "relay" %}
      dhcpProxyServers:
        - {{ data['dhcp_relay_server_1'] }}
        - {{ data['dhcp_relay_server_2'] }}
      enableOptions82: true
      options82Policy: forward
      {%- elif data['dhcp_interface_2_type'] == "server" %}
      dhcpAddressMask: {{  data['dhcp_interface_2_network'] }}
      startIpAddress: {{  data['dhcp_interface_2_srv_start_address'] }}
      endIpAddress: {{  data['dhcp_interface_2_srv_end_address'] }}
      gatewayIpAddress: {{  data['dhcp_interface_2_srv_gateway'] }}
      dnsServers:
        - {{ data['dhcp_interface_2_srv_dns1'] }}
        - {{ data['dhcp_interface_2_srv_dns2'] }}
      ntpServers:
        - {{ data['dhcp_interface_2_srv_ntp'] }}
      maximumLease: {{  data['dhcp_max_lease']  }}
      defaultLease: {{  data['dhcp_default_lease']  }}
      options:
      {%- if data['dhcp_interface_2_srv_opt1'] is defined and data['dhcp_interface_2_srv_opt1'] != "" %}
        - option: {{  data['dhcp_interface_2_srv_opt1'] }}
          value:  {{  data['dhcp_interface_2_srv_opt1value']  }}
      {%+ endif -%}
      {%- if data['dhcp_interface_2_srv_opt2'] is defined and data['dhcp_interface_2_srv_opt2'] != "" %}
        - option: {{  data['dhcp_interface_2_srv_opt2'] }}
          value:  {{  data['dhcp_interface_2_srv_opt2value']  }}
      {%+ endif -%}
      {%+ endif -%}
      
  {% endif %}

  {%+ if data['dhcp_interface_3'] is defined and data['dhcp_interface_3'] != "" %}

    - dhcpInterfaceName: {{ data['dhcp_interface_3'] }}
      dhcpType: {{ data['dhcp_interface_3_type'] }}
      {%- if data['dhcp_interface_3_type'] == "relay" %}
      dhcpProxyServers:
        - {{ data['dhcp_relay_server_1'] }}
        - {{ data['dhcp_relay_server_2'] }}
      enableOptions82: true
      options82Policy: forward
      {%- elif data['dhcp_interface_3_type'] == "server" %}
      dhcpAddressMask: {{  data['dhcp_interface_3_network'] }}
      startIpAddress: {{  data['dhcp_interface_3_srv_start_address'] }}
      endIpAddress: {{  data['dhcp_interface_3_srv_end_address'] }}
      gatewayIpAddress: {{  data['dhcp_interface_3_srv_gateway'] }}
      dnsServers:
        - {{ data['dhcp_interface_3_srv_dns1'] }}
        - {{ data['dhcp_interface_3_srv_dns2'] }}
      ntpServers:
        - {{ data['dhcp_interface_3_srv_ntp'] }}
      maximumLease: {{  data['dhcp_max_lease']  }}
      defaultLease: {{  data['dhcp_default_lease']  }}
      options:
      {%- if data['dhcp_interface_3_srv_opt1'] is defined and data['dhcp_interface_3_srv_opt1'] != "" %}
        - option: {{  data['dhcp_interface_3_srv_opt1'] }}
          value:  {{  data['dhcp_interface_3_srv_opt1value']  }}
      {%+ endif -%}
      {%- if data['dhcp_interface_3_srv_opt2'] is defined and data['dhcp_interface_3_srv_opt2'] != "" %}
        - option: {{  data['dhcp_interface_3_srv_opt2'] }}
          value:  {{  data['dhcp_interface_3_srv_opt2value']  }}
      {%+ endif -%}
      {%+ endif -%}
        
    {% endif %}
{%+ endif %}

localRoutes:
  useSharedSubnetInfo: {{ data['useSharedSubnetInfo'] | default ("true",true) }}
  advertiseLocalLanSubnets: {{ data['advertiseLocalLanSubnets'] | default ("true",true) }}
  advertiseLocalWanSubnets: {{ data['advertiseLocalWanSubnets'] | default ("false",true) }}
  localMetric: {{ data['localMetric'] | default ("50",true) }}
  localCommunities: {{ data['localCommunities'] | default ("",false) }}
  redistOspfToSubnetShare: {{ data['redistOspfToSubnetShare'] | default ("false",true) }}
  ospfRedistMetric: {{ data['ospfRedistMetric'] | default ("0",true) }}
  ospfRedistTag: {{ data['ospfRedistTag'] | default ("0",true) }}
  filterRoutesWithLocalASN: {{ data['filterRoutesWithLocalASN'] | default ("true",true) }}
  redistToSDwanFabricRouteMap: {{ data['redistToSDwanFabricRouteMap'] | default ("default_rtmap_to_subsh",true) }}

  routes:
    {% if data['static_route_1_subnet'] is defined and data['static_route_1_subnet'] != "" %}
    - routeIpSubnet: {{ data['static_route_1_subnet'] }}
      nextHop: {{ data['static_route_1_nexthop'] }}
      interfaceName: {{ data['static_route_1_interface'] }}
      metric: {{ data['static_route_1_metric'] }}
      advertise: {{ data['static_route_1_advertise'] }}
      advertiseToBgp: {{ data['static_route_1_advertiseToBgp'] | default ("false",true) }}
      advertiseToOspf: {{ data['static_route_1_advertiseToOspf'] | default ("false",true) }}
      tag: {{ data['static_route_1_tag'] | default ("ANY",true) }}
      comment: {{ data['static_route_1_comment'] | default ("",false) }}
    {%+ endif %}
    {% if data['static_route_2_subnet'] is defined and data['static_route_2_subnet'] != "" %}
    - routeIpSubnet: {{ data['static_route_2_subnet'] }}
      nextHop: {{ data['static_route_2_nexthop'] }}
      interfaceName: {{ data['static_route_2_interface'] }}
      metric: {{ data['static_route_2_metric'] }}
      advertise: {{ data['static_route_2_advertise'] }}
      advertiseToBgp: {{ data['static_route_2_advertiseToBgp'] | default ("false",true) }}
      advertiseToOspf: {{ data['static_route_2_advertiseToOspf'] | default ("false",true) }}
      tag: {{ data['static_route_2_tag'] | default ("ANY",true) }}
      comment: {{ data['static_route_2_comment'] | default ("",false) }}
    {%+ endif %}


ecLicensing:

  useDefaultAccount: {{ data['useDefaultAccount'] | default ("true", true) }}
  bandwidthLevel: {{ data['license_bandwidth'] | default ("10000", true) }}
  boost: {{ data['license_boost'] | default ("0", true) }}

{% if data['silverpeak_bgp_asn'] is defined and data['silverpeak_bgp_asn'] != "" %}
bgpSystemConfig:
  enable: true
  asn: {{ data['silverpeak_bgp_asn'] }}
  routerId: {{ data['silverpeak_routerId'] }}
  enableGracefulRestart: false
  maxRestartTime: 120
  maxStalePathTime: 150
  redistToSilverPeak: true
  propagateAsPath: true
  redistOspfToBgp: false
  filterTag: 0

  neighbors:
    {%- if data['bgp_peer1_ip'] is defined and data['bgp_peer1_ip'] != "" %}
    - peerIpAddress: {{ data['bgp_peer1_ip'] }}
      enableImports: true
      peerAsn: {{ data['bgp_peer1_asn'] }}
      peerType: Branch
      enableNeighbor: true
      nextHopSelf: false
      inboundRouteMap : {{ data['bgp_peer1_inboundRouteMap'] | default ("default_rtmap_bgp_inbound_br",true) }}
      outboundRouteMap : {{ data['bgp_peer1_outboundRouteMap'] | default ("default_rtmap_bgp_outbound_br",true) }}
      keepAlive: 30
      holdTime: 90
      password:
    {%+ endif -%}
    {%- if data['bgp_peer2_ip'] is defined and data['bgp_peer2_ip'] != "" %}
    - peerIpAddress: {{ data['bgp_peer2_ip'] }}
      enableImports: true
      peerAsn: {{ data['bgp_peer2_asn'] }}
      peerType: Branch
      enableNeighbor: true
      nextHopSelf: false
      inboundRouteMap : {{ data['bgp_peer2_inboundRouteMap'] | default ("default_rtmap_bgp_inbound_br",true) }}
      outboundRouteMap : {{ data['bgp_peer2_outboundRouteMap'] | default ("default_rtmap_bgp_outbound_br",true) }}
      keepAlive: 30
      holdTime: 90
      password:
    {%+ endif -%}

{% endif %}


{% if data['enable_ospf'] is defined and data['enable_ospf'] == 'TRUE' %}
ospfSystemConfig:
  enable: true
  routerId: {{ data['silverpeak_routerId'] | default ("",false) }}
  redistMapToOspf: {{ data['redistMapToOspf'] | default ("default_rtmap_to_ospf",false) }}
  interfaces:
    {%- if data['ospf_interface_1_name'] != "" %}
    - interfaceName: {{ data['ospf_interface_1_name'] }}
      areaId: {{ data['ospf_area'] }}
      cost: {{ data['ospf_interface_1_cost'] | default ("1",true) }}
      priority: {{ data['ospf_interface_1_priority'] | default ("1",true) }}
      adminStatus: Up
      helloInterval: 10
      deadInterval: 40
      transmitDelay: 1
      retransmitInterval: 4
      authentication: None
      authenticationKey:
      md5Key: 0
      md5Password:
      comment: {{ data['ospf_interface_1_comment'] | default ("",false) }}
    {%+ endif -%}
    {%- if data['ospf_interface_2_name'] != "" %}
    - interfaceName: {{ data['ospf_interface_2_name'] }}
      areaId: {{ data['ospf_area'] }}
      cost: {{ data['ospf_interface_2_cost'] | default ("1",true) }}
      priority: {{ data['ospf_interface_2_priority'] | default ("1",true) }}
      adminStatus: Up
      helloInterval: 10
      deadInterval: 40
      transmitDelay: 1
      retransmitInterval: 4
      authentication: None
      authenticationKey:
      md5Key: 0
      md5Password:
      comment: {{ data['ospf_interface_2_comment'] | default ("",false) }}
    {%+ endif -%}

{% endif %}